.form {
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.skills-text{
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    color: white;
    
}


.form-btn-submit{
    transition: all 0.6s ease-in-out;
}
.form-btn-submit:hover{
    background-color: #FFA300 !important;
}
.form-control:focus {
    border-color: #FFA300 !important;
    box-shadow: 0 0 0 0.1rem #FFA300 !important;
}
